.question-to-type-container {
    display: flex;
}

.question-to-type {
    margin-bottom: 1.5rem;
}

.question-to-type label {
    font-size: 0.8rem;
    color: dimgrey;
}

.question-to-type input {
    font-size: 1.2rem;
    color: dimgrey;
    border: none;
    border-bottom: 1px solid blue;
    min-width: 400px;
    margin-bottom: 1rem;
}