
.question-to-show {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.avatar-to-show {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin: 1rem;
}

.text-to-show {
    color: dimgrey;
    padding: 15px;
    width: 50%;
    background-color: #eeeeee;
    border-radius: 20px 20px 20px 5px;
    margin-bottom: 1.5rem;
}